@import "nsdefault.css";

/* Make NetSurf look a little more like the default OS4 theme */

input { border: medium inset #ddd; }
textarea { border: medium inset #ddd; }
select { background-color: #ddd; border: medium groove #ddd; }
fp(0x41dbe4bc): illegal fclose
fp(0xa748a44): illegal fclose
fp(0xb75011c): illegal fclose
fp(0x41943b54): illegal fclose
fp(0xb1bf74c): illegal fclose
fp(0xb59532c): illegal fclose
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
Clipboard is : 
https://goo.gl/uG7XQF
